:root {
  --font-sans: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}